.btn-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: transparent;
  font-weight: 550;
  font-family: 'Poppins';
  color: var(--color-text);
  background: var(--color-bg-gray-idle);
  border: 0px solid var(--color-border-gray-idle);
  /* border-radius: 6px; */
  border-radius: 4px;
}

/**
* Sizes
*/
.btn-custom.xs {
  padding: 4px 6px;
  line-height: var(--font-size-xs);
  font-size: var(--font-size-xs);
}

.btn-custom.sm {
  border-radius: 5px;
  padding: 4px 8px;
  line-height: var(--font-size-sm);
  font-size: var(--font-size-sm);
}

.btn-custom.md {
  padding: 4px 8px;
  line-height: var(--font-size-md);
  font-size: var(--font-size-md);
}

.btn-custom.lg {
  padding: 7px 18px;
  line-height: var(--font-size-lg);
  font-size: var(--font-size-lg);
}

/*
 * Variants 
 */
.btn-custom.neutral {
  background: var(--color-bg-gray-idle);
  color: var(--color-text);
}

.btn-custom.primary {
  background: var(--color-bg-primary-idle);
  color: var(--color-text-primary-default);
}

.btn-custom.accent {
  background: var(--color-bg-accent-idle);
  color: var(--color-text-accent-default);
}

.btn-custom.success {
  background: var(--color-bg-success-idle);
  color: var(--color-text-success-default);
}

.btn-custom.warning {
  background: var(--color-bg-warning-idle);
  color: var(--color-text-warning-default);
}

.btn-custom.danger {
  background: var(--color-bg-danger-idle);
  color: var(--color-text-danger-default);
}

/*
* Appearances
*/
.btn-custom.link {
  border: none;
  background: transparent;
  &:hover {
    text-decoration: underline;
    font-weight: 550;
  }
}
/* TODO: Right now filled just Accent color */
.btn-custom.filled {
  background-color: var(--color-accent);
  color: var(--color-text);
}
/* TODO: Right now filled just white in text color */
.btn-custom.outlined {
  background: transparent;
  border: 1px solid currentColor;
  color: var(--color-text-white);
  /* border: 1px solid currentColor;
  color: var(--color-text); */
}

/** Disabled State */
.btn-custom:disabled,
.btn-custom[disabled] {
  border: none;
  background: var(--color-bg-gray-idle);
  color: var(--color-text-gray-light);
}
