<div class="container">
  <app-title [showBottomBorder]="false">Courses</app-title>
  <app-tab [tabs]="tabs" [selected]="selectedTab()" (tabChange)="onTabChange($event)"></app-tab>
  <app-course-toolbar></app-course-toolbar>
  @if (filter().tab == 'Courses') {
    <div class="list-wrapper">
      @for (course of courses(); track course._id; let first = $first) {
        <app-data-row [columns]="getCourseRowData(course)" [showHeader]="first" />
      }
    </div>
  } @else {
    <div class="list-wrapper">
      @for (course of courseOfferings(); track course._id; let first = $first) {
        <app-data-row [columns]="getCourseOfferingRowData(course)" [showHeader]="first" />
      }
    </div>
  }

  <div class="action-wrapper">
    <app-button (btnclicked)="loadMore()">Show more... </app-button>
  </div>
</div>
