<mat-form-field [floatLabel]="floatLabel" [appearance]="appearance" [ngClass]="[width]">
  <mat-label>{{ label }}</mat-label>
  <input
    [type]="inputType"
    matInput
    [placeholder]="placeholder"
    autocomplete="off"
    [(ngModel)]="value"
    (input)="onInput($event)"
    [disabled]="disabled"
    [readonly]="readonly"
  />
  <mat-icon *ngIf="suffix_icon.length" matSuffix [ngClass]="{ clickable: suffix_icon_clickable }" (click)="onSuffixIconClick()">
    {{ suffix_icon }}
  </mat-icon>
</mat-form-field>
