.icon-wrapper {
  display: flex;
}

mat-icon.xs {
  height: var(--font-size-xs);;
  width: var(--font-size-xs);;
  font-size: var(--font-size-xs);;
  aspect-ratio: 1/1;
}

mat-icon.sm {
  height: var(--font-size-sm);
  width: var(--font-size-sm);
  font-size: var(--font-size-sm);
  aspect-ratio: 1/1;
}

mat-icon.md {
  height: var(--font-size-md);
  width: var(--font-size-md);
  font-size: var(--font-size-md);
  aspect-ratio: 1/1;
}

mat-icon.lg {
  height: var(--font-size-lg);
  width: var(--font-size-lg);
  font-size: var(--font-size-lg);
  aspect-ratio: 1/1;
}

.icon-wrapper.clickable {
  cursor: pointer;
}
