<div class="container">
  <app-title>Register</app-title>
  <div class="register-wrapper">
    <app-input placeholder="ID Number" />
    <app-input placeholder="Email" />
    <app-input placeholder="First Name" />
    <app-input placeholder="Last Name" />
    <app-input placeholder="Middle Name" />
    <app-input placeholder="Password" />
    <app-input placeholder="Role" />
    <app-input placeholder="Department" />
  </div>
  <div class="action-wrapper">
    <app-button></app-button>
  </div>
</div>
