.avatar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-bg-header-hover);
  }

  .label {
    position: relative;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.5;
    color: var(--color-accent);
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
}

.image-wrapper.md {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.fit-image {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
