.homepage {
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(to right, #4b7947, rgba(0, 0, 0, 0)), url(https://images.website-d1e.workers.dev/50f3e603-2cf8-4e3c-8687-ed85f833be32.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.homepage h1 {
  color: #f1b12b;
  font-size: 70px;
  font-weight: 500;
  line-height: 60px;
}
