.badge-container {
  min-width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 12px;
}

/* Variant: Neutral */
.badge-container.neutral {
  /* border: 1px solid var(--color-border-gray-idle); */
  background: var(--color-bg-gray-idle);
  color: var(--color-text);
}

/* Variant: Primary */
.badge-container.primary {
  /* border: 1px solid var(--color-border-primary-idle); */
  background: var(--color-bg-primary-idle);
  color: var(--color-text-primary-default);
}

/* Variant: Accent */
.badge-container.accent {
  /* border: 1px solid var(--color-border-accent-idle); */
  background: var(--color-bg-accent-idle);
  color: var(--color-text-accent-default);
}

/* Variant: Success */
.badge-container.success {
  /* border: 1px solid var(--color-border-success-idle); */
  background: var(--color-bg-success-idle);
  color: var(--color-text-success-default);
}

/* Variant: Warning */
.badge-container.warning {
  /* border: 1px solid var(--color-border-warning-idle); */
  background: var(--color-bg-warning-idle);
  color: var(--color-text-warning-default);
}

/* Variant: Danger */
.badge-container.danger {
  /* border: 1px solid var(--color-border-danger-idle); */
  background: var(--color-bg-danger-idle);
  color: var(--color-text-danger-default);
}

/* Size: xs */
.badge-container.xs {
  padding: 4px 6px;
  line-height: var(--font-size-xs);
  font-size: var(--font-size-xs);
}

/* Size: sm */
.badge-container.sm {
  padding: 4px 8px;
  line-height: var(--font-size-sm);
  font-size: var(--font-size-sm);
}

/* Size: md */
.badge-container.md {
  padding: 4px 8px;
  line-height: var(--font-size-md);
  font-size: var(--font-size-md);
}

/* Size: lg */
.badge-container.lg {
  padding: 4px 10px;
  line-height: var(--font-size-lg);
  font-size: var(--font-size-lg);
}

.badge-container.clickable {
  cursor: pointer;
}

.close {
  cursor: pointer;
}
