// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  mat-form-field {
    --mat-sys-surface-variant: transparent;
    // width: -webkit-fill-available;
    line-height: var(--mat-form-field-container-text-line-height, var(--mat-sys-body-small-line-height));
    font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
    letter-spacing: var(--mat-form-field-container-text-tracking, var(--mat-sys-body-small-tracking));
    font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
    height: 70px;
    margin-bottom: -22px;

    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    // Dropdown/Autocomplete option override
    mat-select,
    mat-option.mat-mdc-option {
      font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) 'Poppins');
      line-height: var(--mat-form-field-container-text-line-height, var(--mat-sys-body-small-line-height));
      font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
      letter-spacing: var(--mat-form-field-container-text-tracking, var(--mat-sys-body-small-tracking));
      font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
    }
  }
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: 'Poppins',
      // ← tell Material to use Poppins
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-small);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
