/* You can add global styles to this file, and also import other style files */

:root {
  --color-background-header: #eaefdb;
  --color-text: #1a1b1f;
  /* ================================
	FONTS
	================================ */
  --font-size-xs: 10px;
  --font-size-sm: var(--mat-sys-body-small-size);
  --font-size-md: var(--mat-sys-body-medium-size);
  --font-size-lg: var(--mat-sys-body-large-size);

  /* ================================
	PRIMARY
	================================ */

  /* Text */
  --color-text-primary-strong: #4b7947;
  --color-text-primary-default: #539364;
  --color-text-primary-light: #6db681;

  /* Border */
  --color-border-primary-strong: #4b7947;
  --color-border-primary-default: #539364;
  --color-border-primary-light: #6db681;

  /* Background */
  --color-bg-primary-idle: #cbe7ce;
  --color-bg-primary-hover: #6db681;
  --color-bg-primary-active: #539364;

  /* ================================
	GREY
	================================ */
  /* Text */
  --color-text-gray-strong: #6c757d;
  --color-text-gray-default: #868e96;
  --color-text-gray-light: #adb5bd;

  /* Background */
  --color-bg-gray-idle: #e7ecf3;
  --color-bg-gray-hover: #adb5bd;
  --color-bg-gray-active: #868e96;

  /* ================================
	DANGER
	================================ */
  /* Text */
  --color-text-danger-strong: #991b1b;
  --color-text-danger-default: #b91c1c;
  --color-text-danger-light: #ef4444;
  /* Background */
  --color-bg-danger-idle: #fce8e6;
  --color-bg-danger-hover: #ef4444;
  --color-bg-danger-active: #dc2626;
}

.container {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
}

.list-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
