<div [class.transparent]="isTransparent">
  <header id="header">
    <div class="nav-wrapper">
      <span style="flex: 1"></span>
      <ul class="navigation">
        @if (isLoggedIn()) {
          <li routerLink="/user"><a>Users</a></li>
          <li routerLink="/course"><a>Courses</a></li>
          <div class="avatar-wrapper">
            <app-avatar />
          </div>
        } @else {
          <app-button appearance="outlined" size="lg">Login</app-button>
          <app-button appearance="filled" size="lg">Register</app-button>
        }
      </ul>
    </div>
  </header>
</div>
